@model dynamic

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        Please use the following link to gain access to StuNet.
        <br/>
        <a href="@Model.link">Confirm account</a>
        <br/>
        <br/>
        - Team StuNet
    </body>
</html>
